---
import { getSeriesImages } from "@/services/Orthan";
const { serie } = Astro.props;
const { Instances, mainDicomTags } = await getSeriesImages(serie);
const previewUrl = `/api/instances/${Instances[0]}/preview`;
---

<div class="thumbnail-item" data-id={serie}>
    <div class="thumbnail-preview">
        <img src={previewUrl} alt="Thumbnail 1" />
    </div>
    <div class="thumbnail-info">
        <div class="thumbnail-title">{mainDicomTags.Modality}</div>
        <div class="thumbnail-description">
            {mainDicomTags.BodyPartExamined}
        </div>
    </div>
</div>
